.greetings {
    background-color: red;
    height: 500px;
    width: 500px;
    border: solid black 2px;
    box-shadow: 2px 2px 5px;
    margin: 100px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.greetings div {
    margin: 10px;
}